<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
    <title>申请成为代理商</title>
    <link rel="stylesheet" th:href="@{/static/nocard/css/weui.css}"></link>
    <link rel="stylesheet" th:href="@{/static/nocard/css/style.css}"></link>
    <link rel="stylesheet" th:href="@{/static/css/css.css}"></link>
    <script th:src="@{/static/nocard/js/wx.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/jquery-1.9.1.min.js}" type="text/javascript"></script>
    <script type="text/javascript"
            th:src="@{https://api.map.baidu.com/api?(ak=sg4qhUZDe67Wn0TZgToQfit4chXs038o,s=1)}"></script>

    <style type="text/css">
        .delete_btn {
            background-color: transparent;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            outline: 0;
            display: inline-block;
            margin-left: 5px;
            padding: 0 0.6em 0 0.7em;
            border-left: 1px solid #E5E5E5;
            line-height: 45px;
            vertical-align: middle;
            font-size: 17px;
            color: #3CC51F;
        }

        button.weui-vcode-btn {
            /*background-color: transparent;*/
            background: url(../static/nocard/images/clear.png) no-repeat;
            background-size: 40%;
            background-position: center;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            outline: 0;
        }

        .weui-vcode-btn {
            display: inline-block;
            width: 45px;
            height: 24px;
            margin-left: 5px;
            padding: 0 0.6em 0 0.7em;
            border-left: 0 solid #E5E5E5;
            line-height: 45px;
            vertical-align: middle;
            font-size: 17px;
            color: #3CC51F;
        }

    </style>
</head>
<body>
<!--基本信息 -->
<div class="weui_cells weui_cells_form">
    <div class="weui_cell weui-cell_vcode">
        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="fullName" class="weui_input weui-cell_warn" disabled="disabled" th:value="${fullNameFormat}"
                   type="text" placeholder="请输入姓名" maxlength="12" onblur="vali_fullName(this)" onkeyup="this.value=this.value.replace(/\s+/g,'')" 
                   onkeypress="this.value=this.value.replace(/\s+/g,'')" onkeydown="this.value=this.value.replace(/\s+/g,'')"></input>
        </div>
        <div class="weui_cell_ft">
            <button class="weui-vcode-btn delete_btn" type="button" id="fullNameBtn"></button>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" pattern="[0-9]*" placeholder="请输入手机号" disabled="disabled"
                   th:value="${phoneFormat}" id="phone" name="phone" onblur="vali_phone(this)"></input>       
        </div>
        <div class="weui_cell_ft">
            <button class="weui-vcode-btn delete_btn" type="button" id="phoneBtn"></button>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">省份地区</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <select id="provinceSelect" class="weui_select" style="padding-left: 0; line-height: 24px; height: 24px">
                <option value="">请选择省份</option>
                <option value="北京市">北京市</option>
                <option value="天津市">天津市</option>
                <option value="上海市">上海市</option>
                <option value="重庆市">重庆市</option>
                <option value="河北省">河北省</option>
                <option value="山西省">山西省</option>
                <option value="辽宁省">辽宁省</option>
                <option value="吉林省">吉林省</option>
                <option value="黑龙江省">黑龙江省</option>
                <option value="江苏省">江苏省</option>
                <option value="浙江省">浙江省</option>
                <option value="安徽省">安徽省</option>
                <option value="福建省">福建省</option>
                <option value="江西省">江西省</option>
                <option value="山东省">山东省</option>
                <option value="河南省">河南省</option>
                <option value="湖北省">湖北省</option>
                <option value="湖南省">湖南省</option>
                <option value="广东省">广东省</option>
                <option value="海南省">海南省</option>
                <option value="四川省">四川省</option>
                <option value="贵州省">贵州省</option>
                <option value="云南省">云南省</option>
                <option value="陕西省">陕西省</option>
                <option value="甘肃省">甘肃省</option>
                <option value="青海省">青海省</option>
                <option value="台湾省">台湾省</option>
                <option value="广西壮族自治区">广西壮族自治区</option>
                <option value="内蒙古自治区">内蒙古自治区</option>
                <option value="西藏自治区">西藏自治区</option>
                <option value="宁夏回族自治区">宁夏回族自治区</option>
                <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                <option value="香港特别行政区">香港特别行政区</option>
                <option value="澳门特别行政区">澳门特别行政区</option>
            </select>
        </div>
    </div>
</div>
<form id="submitForm" method="post">
    <input name="fullName" type="hidden" th:value="${userEntity.fullName}"/>
    <input name="mobile" type="hidden" th:value="${userEntity.phone}"/>
    <input name="province" type="hidden"/>
</form>
<!--下一步 -->
<div class="weui_btn_area">
    <a id="reg_btn" href="#" class="weui_btn blue_btn" onclick="dataSubmit()">确&nbsp;认&nbsp;提&nbsp;交</a>
<!--     <a href="#" class="weui_btn" style="color: #000000; background-color: #ffffff;" onclick="javascript:history.back(-1);">返&nbsp;回</a> -->
</div>

<!-- 加载中效果 -->
<div class="js_dialog" id="loadingToast" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">
            <div class="weui_loading">
                <!-- :) -->
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
        </div>
    </div>
</div>

<!--错误提示 -->
<div class="weui_toptips weui_warn js_tooltips">格式不对</div>


<script type="text/javascript" th:inline="javascript">
    //<![CDATA[

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
        WeixinJSBridge.call('hideToolbar');
    });

    //删除按钮
    $('#fullNameBtn').click(function () {
        $('#fullName').removeAttr("disabled");
        $('#fullName').val("");
        fullNameDel = true;
    });

    $('#phoneBtn').click(function () {
        $('#phone').removeAttr("disabled");
        $('#phone').val("");
        phoneDel = true;
    });

    //显示错误提示
    function showEorrTips(msg) {
        $('.js_tooltips').text(msg);
        $('.js_tooltips').show();
        setTimeout(function () {
            $('.js_tooltips').hide();
        }, 3000);
    }

    //用户名称验证
    function vali_fullName(fullName) {
		if (!fullName) {
	         showEorrTips('请输入姓名!');
	     }
		$("#fullName").attr("value",fullName.replace(/\s+/g,''));
    }

    function vali_phone(phone) {
		if (!phone) {
	         showEorrTips('请输入手机号码!');
	     }
    }

    var _ctx = [[${application.ctx}]];
    var fullNameDel = false;
    var phoneDel = false;
    function dataSubmit() {
        if (fullNameDel) {
            var fullName = $('#fullName').val();
            if (!fullName) {
                showEorrTips('请输入姓名');
                return false;
            }
//             if (!/^[a-zA-Z0-9\u4e00-\u9fa5]+$/.test(fullName)) {
//                 showEorrTips('用户名称只能由字母、汉字、数字组成！');
//                 return false;
//             }
            $("input[name='fullName']").val(fullName.replace(/\s+/g,''));
        }

        if (phoneDel) {
            var phone = $('#phone').val();
            if (!phone) {
                showEorrTips('请输入手机号');
                return false;
            } else if (phone.length != 11) {
                showEorrTips('请输入正确的手机号');
                return false;
            } else if (!(/^1[3|4|5|7|8]\d{9}$/.test(phone))) {
                showEorrTips('请输入正确的手机号');
                return false;
            }
            $("input[name='mobile']").val(phone);
        }

        var province = $("#provinceSelect").val();
        if (!province) {
            showEorrTips('请选择省份');
            return false;
        }
        $("input[name='province']").val(province);
        
        var url = _ctx + '/user/userApplyAgent.htm'
        $('#submitForm').attr('action', url).submit();
    }


    //]]>
</script>

</body>
</html>